<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="Shilling performance" android:allowBackup="false" android:usesCleartextTraffic="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <profileable android:shell="true" />
        <activity android:name="finance.shilling.perf.HostedUiPerformanceActivity" android:exported="true" />
        <activity android:name="finance.shilling.perf.ReceiptListPerformanceActivity" android:exported="true" />
        <activity android:name="finance.shilling.perf.UiPerformanceActivity" android:exported="true" />
        <activity android:name="finance.shilling.perf.P2pPerformanceActivity" android:exported="true" />
        <activity android:name="finance.shilling.perf.PerformanceActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
